@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.toolbar{
    position: relative;
    z-index: 999;
    width: 100%;
    height: 34px;
    display: block;
    background-color: #ebebeb;
    border-top: 1px solid #ffffff;
    box-shadow: 0 4px 4px rgb(0 0 0 / 0.2);
    
    
    &__menu{
        position: absolute;
        margin: 0px 0px 0px 50px;
        width: fit-content;
        
        display: flex;
        flex-direction: row;
        list-style-type: none;
        
        
    }
    &__item{
        width: 25px;
        height: 25px;
       
        padding: 4px 4px 4px 9px;
        text-align: center;
        cursor: default;
        font-family: 'Roboto', sans-serif;
        
        &:hover{
            background-color: rgb(216, 216, 216);
        }
    }
}